[submodule "poco"]
	path = poco
	url = https://github.com/bsumma/poco.git
	branch = master
[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "StreamDeck-CPPSDK"]
	path = StreamDeck-CPPSDK
	url = https://github.com/fredemmott/StreamDeck-CPPSDK.git
[submodule "cuda-bundle-adjustment"]
	path = cuda-bundle-adjustment
	url = git@github.com:cooopermaira/cuda-bundle-adjustment.git
[submodule "CudaSift"]
	path = CudaSift
	url = git@github.com:cooopermaira/CudaSift.git
[submodule "Clipper2"]
	path = Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
