[submodule "poco"]
	path = poco
	url = https://github.com/bsumma/poco.git
	branch = master
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Clipper2"]
	path = Clipper2
	url = https://github.com/AngusJohnson/Clipper2.git
